__pycache__/
*.py[cod]
venv/
env/
.env
.idea/
.vscode/
*.log
*.ini
*.cfg
*.egg
*.egg-info/
*.xml
*.iml
dist/
build/
/src/__pycache__
.idea/Assesment2.iml
.idea/misc.xml
src/__pycache__/gui.cpython-312.pyc
.idea/Assesment2.iml
.idea/misc.xml
/.idea
